.formularioTitulo {
  color: $colorprincipal;
  text-align: center;
  top: 0;
}
.ubicacion {
  text-align: center;
}
.encabezado {
  color: $colorprincipal;
}

.encabezado__lista {
  display: flex;
  align-items: stretch;
}

.encabezado__lista__item {
  color: $colorprincipal;
  padding: 10px 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 15px;
}

.formulario {  
  @include borderybackcolor (2px solid $colorprincipal , $fondoprincipal);
  padding: 20px;
  color: $colorprincipal;
  top: 0;
  width: 600px;
  margin: 0 auto;
  border-radius: 10px;
}

@media screen and (max-width: 320px) {
  .formularioGeneral{
    height: 750px;

  }
  .formulario {  
    @include borderybackcolor (2px solid $colorprincipal , $fondoprincipal);
    padding: 20px;
    color: $colorprincipal;
    top: 0;
    width: 250px;
    margin: 0 auto;
    border-radius: 10px;
  }


}
