.esports {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  grid-auto-rows: minmax(80px, auto);
  gap: 20px;
  justify-content: center;
}

.esports-imagen {
  height: 200px;
  width: 200px;
}