.contenedor {
  width: 70%;
  height: 300px;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  justify-items: space-between;
  
  &  .contenedor__imagen {
    width: 70%;
    height: 300px;
  }
}


.grilla__item {
  background-color: white;
  border: solid 1px rgb(47, 95, 79);
  border-radius: 6px;
  justify-self: center;
  align-self: center;
  text-align: center;
  transition: all 2s;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  justify-items: center;
  margin-bottom: 20px; 
  gap: 20px;
}

img {
  object-fit: contain;
}

.producto, .precio {
  justify-self: stretch;
  text-align: center;
}

@media screen and (max-width: 600px) {
  iframe {
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-width: 320px) {
  .contenedor__imagen {
    width: 100px;
    height: 100px;
  }
}

.grilla__item:hover {
  transform: scale(0.75);
}

.nav-link:hover {
  transform: scale(0.75);
  color: $colorprincipal;
  transition: all 2s;
}

.encabezado__nav, .nav-link {
  color: $colorprincipal;
}
